<div class="notes_dropdown" id="notes_dropdown" hidden>
  <%= link_to '<i class="fa fa-times"></i>'.html_safe, notes_dropdown_path,
    remote: true, class: :standard_nav_menu_link, align: :right, title: "Exit menu" %>
  
  <div class="notes_dropdown_title">
    <b>Notifications</b>
  </div>
  <% for note in notes %>
    <div class="standard_nav_menu_link">
      <%= render "message", note: note, dark: true, dropdown: true %>
    </div>
  <% end %>
  <div class="notes_dropdown_link standard_nav_menu_link">
    <%= link_to "See all", notes_path, class: :dark_link %>
  </div>
  </br>
</div>
