<div id="search_dropdown" class="search_dropdown" align="center" hidden>
  <% placeholder = (session[:query] ? "Last query: #{session[:query]}" : "Search") %>

  <div class="search_form_bubble">
    <%= form_tag dropdown_search_path, method: :get, remote: true do |f| %>
  	  <%= text_field_tag :query, nil, placeholder: placeholder,
        id: :search_form_text_field, class: :search_form_text_field %>

      <button type="submit" name="commit">
        <i class="fa fa-search"></i>
      </button>
    <% end %>
  </div>

  <i id="search_results_anchor"></i>
</div>
