<div class="dark_card" align="center">
  <p>
    Thank you, <%= current_user.name %>
  </p>
  <p>
    Your confirmation code is <b><%= order.unique_token %></b>
  </p>
  <p>
    Total was <%= order.total.format %>
  </p>
</div>
