<div class="dark_card" id="interface_card" align="center">


  <% if your_turn? %>
    <div id="your_turn_stuff">
      <div class="turn_choice_prompt">
        <b>What do you want to do?</b>
      </div>
      
      <%= link_to select_turn_choice_path(:attack), remote: true do %>
        <div class="turn_choice" id="turn_choice_attack">
          Attack
        </div>
      <% end %>
      
      <div class="turn_choice_dropdown" id="turn_choice_dropdown_attack">
      </div>
    </div>
  <% end %> 


</div>
