<h2 class="standard_page_header">My cart (<%= my_cart_total %>) <i class="fa fa-shopping-cart"></i></h2>

<% for product in current_user.my_cart.products %>
  <%= render "products/card", product: product %>
<% end %>

<div class="dark_card" align="center">
  <%= link_to check_out_path, class: :white_link do %>
    <p>
      Check out
    </p>
  <% end %>
</div>
