<% if god? or goddess? %>
  <div class="dark_card" align="center">
    <p class="plus_sign">
      +
    </p>
  </div>

  <script>
    $(".plus_sign").click(function() {
      $(".plus_sign").toggleClass("rotate");
    });
  </script>
<% end %>
