<div class="color_bands">
  <% 20.times do |i| %>
    <div class="color_band" id="color_band_<%= i %>"></div>
    <%= render "arts/band_fader.js", target: "color_band", target_id: i %>
  <% end %>
</div>

<script>
  var color_bands = $(".color_bands");
  $(".color_bands").click(function() {
    color_bands.toggleClass("color_band_flip");
  });
</script>
