<div class="love_modal" id="love_modal" align="center">
  <div class="heart_container" id="heart_container">
    <div class="heart" id="heart"></div>
  </div>
  
  <% if in_dev? or god?; img_size = 2 %>
    <div class="love_message_carousel_card" id="carousel_card" hidden>
      <% img_size.times do |i| %>
        <%= image_tag "love/#{i}.jpg",
          class: :love_message_carousel_img, id: "love_message_carousel_img_#{i}", hidden: !i.zero? %>
      <% end %>
    </div>
    
    <div class="love_message_card" id="happy_valentines" align="center" hidden>
      <p>
        Happy Valentines Day!
      </p>
    </div>
  
    
    <script>
      var heart = $("#heart_container");
      var valentines = $("#happy_valentines");
      var carousel = $("#carousel_card");
      var img_id = 0;
      
      carousel.click(function() {
        var current_img = $("#love_message_carousel_img_" + img_id);
        current_img.toggle();
      
        if (img_id < <%= img_size %>-1) {
          img_id++;
        } else {
          img_id = 0;
          valentines.toggle();
          $("#love_modal").animate({ scrollTop: $(document).height() }, 500);
        }
        
        current_img = $("#love_message_carousel_img_" + img_id);
        current_img.toggle();
        // haptic
        window.navigator.vibrate(1);
      });
      
      heart.click(function() {
        carousel.toggle();
      });
      
      valentines.click(function() {
        valentines.toggle();
        carousel.toggle();
      });
    </script>
  <% end %>
</div>
