<h2 class="standard_page_header">Interactive art by Forrest Wilkins <i class="fa fa-paint-brush"></i></h2>

<div class="dark_card" align="center">
  <p>
    The following are interactive art apps built with Processing and Android Studio...
  </p>
</div>

<div class="dark_card" align="center">
  <h4>Light</h4>
  <p>

  </p>
</div>

<%= link_to "https://play.google.com/store/apps/developer?id=Forrest+Wilkins" do %>
  <div class="dark_card" align="center">
    <p>
      Click here to see a full list on the Play Store...
    </p>
  </div>
<% end %>
