<div class="paper_modal" id="paper_modal">
  <div class="art_card paper_card" align="center" style="margin-top:60px;">
    <div class="paper_txt">
      We think, therefore we are
    </div>
  </div>
</div>
