<!-- proposals -->

<div id="action_fields">
	<% case (defined?(field) ? field : nil) %>
	<% when 'add_hashtags' %>
		<p>
			<%= f_builder.text_field :misc_data, placeholder: "Add hashtags..." %>
		</p>
	<% when 'meetup' %>
		<p>
			<%= f_builder.text_area :misc_data, placeholder: "Date and location..." %>
		</p>
	<% when 'grant_title' %>
	  <p>
	    <%= text_field_tag :title, nil, placeholder: "Write a title to grant..." %>
	  </p>
	  <p>
	    <%= text_field_tag :days_alive, nil, placeholder: "How many days should it last?" %>
	  </p>
	<% end %>
</div>
