<div id="main_feed_container_anchor" align="center">
  <div class="feed_loader_loading_label" id="loader_loading_label">
    Loading...
  </div>
  <script>
    <%= render "app/fader.js", target: "loader_loading_label", target_id: "", fast: true %>
  </script>
</div>

<script>
  setTimeout(function() {
    $.ajax({
      type: "GET",
      url: "/load_index"
    });
  }, 250);
</script>
