// Place all the styles related to the arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plus_sign {
  transition: all .4s ease-in-out;
  font-weight: bolder;
  font-size: 35px;
  width: 100%;
  height: 100%;
	color: rgb(175, 175, 175);
}

.rotate {
  transform-origin: 22.5px 22.5px;
  transform: rotate(45deg);
}

.plus_fade {
  text-shadow: 1.25px 1.25px 1.25px pink;
}

.art_element_square {
  background: white;
	width: 100px;
	height: 100px;
}

@keyframes shape_morph {
  0% {
    border-radius: 0px;
    background: blue;
  }
  100% {
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  	background: red;
  }
}

.art_element {
  animation: shape_morph 7.5s infinite alternate;
    background: white;
  	width: 100px;
  	height: 100px;
}
