//2017 Greenery. Hex #88B04B. RGB(136, 176, 75) ...
//2016 Rose Quartz. Hex #F7CAC9. RGB(247, 202, 201) ...
//2016 Serenity. Hex #92A8D1. RGB(146, 168, 209) ...
//2015 Marsala. Hex #955251. RGB(149, 82, 81) ...
//2014 Radiand Orchid. Hex #B565A7. RGB(181, 101, 167) ...
//2013 Emerald. Hex #009B77. ...
//2012 Tangerine Tango. Hex #DD4124. ...
//2011 Honeysucle. Hex #D65076.

@mixin circle_menu_section {
  display: block;
  width: 50%;
  height: 50%;
  float: left;
}

.circle_menu_section_top_left {
  @include circle_menu_section;
  border-top-left-radius: 100%;
  background: pink;
  
}

.circle_menu_section_top_right {
  @include circle_menu_section;
  border-top-right-radius: 100%;
  background: lightblue;
}

.circle_menu_section_bottom_left {
  @include circle_menu_section;
  border-bottom-left-radius: 100%;
  background: lightblue;
}

.circle_menu_section_bottom_right {
  @include circle_menu_section;
  border-bottom-right-radius: 100%;
  background: pink;
}

.hiding_circle {
  border-radius: 50%;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.circle_menu_link {
  position: fixed;
  top: 7.5px;
  left: 5px;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: lightblue;
  box-shadow: 1.25px 1.25px 1.25px rgb(255,192,203);
  z-index: 5;
}

.color_band {
  position: fixed;
  width: 100%;
  height: 10%;
  background: black;
}

.color_bands {
  transition: all 1s ease-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
}

.color_band_flipping {
  animation: band_flip_morph 5s ease-in-out infinite alternate;
}

.color_band_flip {
  transform: rotatex(180deg);
  background: white;
}

@keyframes band_flip_morph {
  0% {
    transform: rotatex(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotatex(180deg);
    opacity: 1;
  }
  100% {
    transform: rotatex(-360deg);
    opacity: 0;
  }
}

@keyframes spin_morph {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(180deg);
    background: pink;
  }
  100% {
    transform: rotatey(-360deg);
    background: #72FE95;
  }
}

.color_block_spinner {
  animation: spin_morph 7.5s infinite alternate;
  background: pink;
  width: 25%;
  height: 25%;
  margin: 5px;
}

.color_block_fan_right {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #72FE95;
  transition: all .4s ease-in-out;
  // to stop margins from collapsing
  overflow: auto;
}

.color_block_fan_right_out {
  transform-origin: 100% 100%;
  transform: rotatey(180deg);
  z-index: 5;
}

.color_block {
  position: relative;
  background: #ade6d8;
  width: 50%;
  height: 150px;
  float: left;
}

.interact_label {
  position: relative;
  width: 50%;
  height: 50px;
  padding-top: 60px;
  float: left;
  color: #ade6d8;
  font-size: 20px;
  font-weight: bold;
}

.color_block_container {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 15px;
  width: 94.5%;
}

.palette_color {
  float: left;
  height: 100%;
  transition: all .4s ease-in-out;
}

.palette_color:hover, .palette_color:active {
  transform: rotatey(360deg);
}

.color_band:hover {
  transform: rotatex(360deg);
}

.color_palette {
  width: 85%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 35px;
}

.art_card {
  position: relative;
  background: #CEFFFD;
  border: 0px solid white;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 15px;
  width: 94.5%;
  // to stop margins from collapsing
  overflow: auto;
}
