// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meme_war_class_img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  margin-top: 1.5px;
  margin-right: 10px;
  margin-bottom: 2.5px;
}

.meme_war_class_card {
  min-height: 55.25px;
}

.meme_war_class_description {
  width: 65%;
}
