// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin section_part {
  width: 100%;
  min-height: 500px;
  background: rgb(214, 216, 219);
  color: DarkBlue;
  text-align: center;
  position: relative;
  overflow: auto;
}

.section_part {
  @include section_part;
}

.edit_carousel_img_link {
  position: absolute;
  right: 20%;
  top: 50px;
}

.carousel_image {
  width: 100%;
}

.carousel_outer {
  margin-top: 7.5px;
}

.faded_carousel {
  position: relative;
  padding: 7.5px 7.5px;
  background: green;
  max-width: 550px;
  min-height: 250px;
  margin: 0 auto;
  width: 94.5%;
}

.forrest_web_co_img {
  float: left;
  width: 50%;
  margin-top: 17.5px;
  margin-right: 10px;
  margin-bottom: 2.5px;
}

#forrest_web_co_card {
  animation: forrest_web_co_header_card_glow 7.5s infinite alternate;
}

#forrest_web_co_header {
  animation: forrest_web_co_header_shadow 7.5s infinite alternate;
}

@keyframes forrest_web_co_header_card_glow {
  0% {
    background: black;
    box-shadow: -7.5px -7.5px 7.5px green;
  }
  100% {
    background: green;
    box-shadow: 7.5px 7.5px 7.5px black;
  }
}

@keyframes forrest_web_co_header_shadow {
  0% {
    color: white;
    text-shadow: 2px 2px 2px green;
  }
  100% {
    color: black;
    text-shadow: 0.25px 0.25px 0.25px green;
  }
}
