<%= form_for(product) do |f| %>
  <p>
    <%= f.text_field :name, placeholder: "Name", class: :dark_text_field %>
    <%= f.text_area :body, placeholder: "Description", class: :dark_text_field %>
  </p>
  
  <p>
    <button type="submit" name="commit" class="dark_form_button">
      <b>Submit <i class="fa fa-pencil"></i></b>
    </button>
  </p>
<% end %>
