<h2 class="standard_page_header">Store <i class="fa fa-shopping-basket"></i></h2>

<div class="dark_card" align="center">
 <%= render "form", product: @product %>
</div>

<% for product in @products %>
  <%= render "products/card", product: product %>
<% end %>
